body {
    background: #EDF2C5;
    margin: 0px;
}

.top {
    margin: 53px 160px 10px 160px;
    max-width: 940px;
}

h1 {
    font: 44px/1 "arial black";
    float: left;
    color: #778a50;
    margin: 0px 0px 8px 0px;
    width: 271px;
    height: 42px;
    padding: 8px 0px;
    
}
.right {
    float: right;
    position: relative;
    top: 20px;
}
.right img {
    display: block;
    margin-left: 10px;
    float: left;
    padding: 4px 0px;
}
.right button {
    padding: 6px 8px;
    display: block;
    margin-left: 10px;
    border: 1px solid #778A50;
    border-radius: 3px;
    font-size: 14px;
    font-weight: bold;
    font-family: 'Arial';
    color: #778A50;
    background-color: #EDF2C5;
    float: left;
    height: 25px;
    
}
.right hr {
    margin-left: 10px;
    border-right: 5px #778A50;
    float: left;
    height: 20px;
}

nav {
    clear: both;
    background-color: #778A50;
    padding: 8px 0px;
}
nav li {
    border-radius: 3px;
    display: inline;
    margin: 0px 30px;
}
nav a {
    font-family:"Arial Black";
    font-size: 16px;
    color: #EDF2C5;
    text-decoration: none;
}

.main {
    margin: 20px 160px 15px 160px;
}

.main h2 {
    font-family:"Arial Black";
    font-size: 16px;
    background: #778A50;
    padding: 15px 0 15px 30px;
    margin:  30px auto 15px auto;
    border-radius: 3px;
    color: #EDF2C5;
    margin-right: 10px;
}

#downarticle img {
    margin: 0px 3px 35px 0;
   
}

.L {
    width: 445px;
    float: left;
}

#R {
    float: right;
    width: 445px;
    
}


#R .Rtext {
   
    font-family:"Arial MT";
    font-size: 12px;
    color: #7D7D7D;
    margin-top: 10px;
    margin-right: 10px;
    background-color: #F7FBDA;
}

#R .content {
    line-height: 1.33;
    padding: 16px 20px 5px 15px; 
}

#R hr {
    border-bottom: 1px #7D7D7D;
}

#R .info {
    padding: 0px 0px 0px 15px;
    line-height: 1.83;
    
}
footer {
	clear: both;
    padding: 24px 479px 25px 479px;
    font-family: 'ArialMT';
    font-size: 12px;
    color: #EDF2C5;
    background-color: #778A50;
}